# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/

# DVC outputs
/model.pt
/metrics.json
/predictions.json

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Environment variables
.env
client_secret_609777283610-2l3h3g09d6eegapcb5ds357k72mniqb9.apps.googleusercontent.com.json